.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5vh;
  min-height: 100vh;
}

.back {
  height: 90vh;
  width: 40vw;
  display: grid;
  row-gap: 10px;
}

.row {
  height: 100%;
  width: 100%;
  display: grid;
  column-gap: 10px;
}

.note {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: red;
  column-gap: 10px;
  grid-row: 1/2;
}

.noteactive {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: yellow;
  column-gap: 10px;
  grid-row: 1/2;
}